/*This is for the Project FOX Prototype*/

/*******************************************************************************
* CSS Table of Contents
* 1. Imports
* 2. General Style Control
* 3. Special Style Control
*******************************************************************************/

/*******************************************************************************
* 1. Imports
*******************************************************************************/

/*Download Sansita font from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Sansita');

/*******************************************************************************
* 2. General Style/ Mobile Style - This styling applies to everything.
* This is where nearly all of the formatting goes to make things look the way
* we want. Color control, text size control, box shape, column flow, etc.
*******************************************************************************/

body {
    /* Use helvetica, else use arial, else use default sans serif */
    font-family: helvetica, arial, sans-serif;
    font-size: 20px;
    /* remove any margin or padding from body */
    margin: 0;
    padding: 0;
    background-color: black;
}

#wrapper {
    /* flex to fill available space */
    display: flex;
    flex-flow: column;
    margin: 0;
}

#navigation {
    background-color: darkgray;
    /* flex to fill available space */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* don't put any bullets or numbers in front of the list items */
    list-style: none;
    padding: 10px;
    /* sticky menu bar properties */
    width: 100%;
    position: fixed;
    /* adding a transparant red bottom border for scroll visual feedback */
    border-bottom: 2px solid;
    border-bottom-color: #FF000000;
}

#navigation ul li {
    font-size: 30px;
    padding-right: 10px;
    padding-left: 10px;
    /* justify-content: space-between was pushing everything too far right */
    margin-right: 20px;
    display: flex;
    /* invisible border so on hover everything stays the same size */
    border-color: darkgray;
    border-style: solid;
    border-width: 2px;
}

#navigation ul {
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    padding-inline-start: 0px;
}

#navigation li:hover {
    border-color: blue;
}

/* table is where all the tracks are listed */
table {
    width: 100%;
    border-collapse: collapse;
    /* shift down the body to account for the fixed menu bar */
    margin-top: 58px;
    table-layout: fixed;
}

/* table row gets a line to divide it from other rows */
tr {
    border-bottom: 2px solid;
    border-bottom-color: blue;
    /* white text default, javascript for color changes*/
    color: white;
}
td {
    /* the trash can was far left and the pin wasn't far right
    this'll make it look better I think, any objections? -charles */
    text-align: center;
}

#scrollbar {
    display: flex;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
}

button {
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: black;
    display: inline-block;
}

button:hover {
    border-color: blue;
}

.icon, .delete-icon:hover {
    width: 50px;
    height: 54px;
    background-size: 40px 45px;
    background-position: center;
    background-repeat: no-repeat;
}

.delete-icon {
    background-image: url('../images/gray_trash_can.png');
}

.pin-icon {
    background-image: url('../images/white_push_pin.png')
}

.pinned {
    background-image: url('../images/yellow_push_pin.png')
}

#ADD_ROW {
    border: solid;
    border-color: black;
    color: black;
    style: bold;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: lightgreen;
}

/*******************************************************************************
* 3. Special Styles - CSS that won't be in production
*******************************************************************************/

#DEBUG_DIV {
    position: fixed;
    left: 10px;
    bottom: 10px;
    font-size: 10px;
    color: lightgreen;
}
